body {
	background-color: #D8DEE7;
	padding-top: 50px;
}

.navbar{
	width: 85%;
	margin: 0 auto;
	background-color: #C7AFBD;
}

.navbar-default .navbar-nav>li>a {
	color: #FFFFFF;
	font-size: 16px;
}

.main-content {
	height:100%;
	width: 85%;
	margin: 0 auto;
	padding: 0;
}

.aboutme {
	height: 100%;
	width: 100%;
	background-color: #ADBACD;
	border-width: 2px;
	border-style: dashed;
}

.gallery {
	height:100%;
	width:100%;
	background-color: #798DA8;
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

	.container,
	.navbar
	{
		width: 100%;
	}
}
